<%- include ("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">All Da Blogs!!!!</div>
</div>

<% blogs.forEach(function(blog) { %>
<div>
    <h2><%= blog.title %></h2>
    <h6> <%= blog.created %> </h6>
    <img src="<%= blog.image %>">
    <p> <%= blog.body %> </p>

</div>
<% }); %>

<%= blogs %>




<%- include ("partials/footer") %>